<div class="container">
    <div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="postData(registerForm)" autocomplete="off" >
        <h3>Sign up now!</h3>
       
        <label for="name">Username</label>
        <input type="text" name="name" formControlName="name" autocomplete="off" class="form-control input-sm" placeholder="Enter your username">
       
        <label for="email">Email</label>
        <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Enter your email">
       
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Enter your password">
 
        <button>Register</button>
    </form>
    </div>
</div>