<div class="container">
    <div class="form-container">
    <form [formGroup]="registerForm" (ngSubmit)="postData(registerForm)" autocomplete="off" >
        <h3>Sign up</h3>
       
        <label for="name">Username</label>
        <input type="text" name="name" formControlName="name" autocomplete="off" class="form-control input-sm" placeholder="Enter your username">
        <span class="error" *ngIf="fc['name'].getError('required') && name!.touched">Username is required.</span>
        <span class="error" *ngIf="fc['name'].getError('pattern')!=null">Username must be at least 4 characters long and can only contain letters and numbers.</span>

        <label for="email">Email</label>
        <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Enter your email">
        <span class="error" *ngIf="fc['email'].getError('required') && email!.touched">Email is required.</span>
        <span class="error" *ngIf="fc['email'].getError('pattern')!=null">Please enter a valid email.</span>

        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Enter your password">
        <span class="error" *ngIf="fc['password'].getError('required') && password!.touched">Password is required.</span>
        <span class="error" *ngIf="fc['password'].getError('minlength')!=null">Password must be at least 8 characters long.</span>

        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" formControlName="confirmPassword" autocomplete="off" class="form-control input-sm" placeholder="Re-enter your password">
        <span class="error" *ngIf="fc['confirmPassword'].getError('required') && password!.touched">Confirm password is required.</span>
        <span class="error" *ngIf="fc['confirmPassword'].getError('passMatch')!=null">Passwords don't match</span>

        <button [disabled]="registerForm.invalid">
            <span *ngIf="showLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span *ngIf="showLoading" style="margin-left: 10px;">Signing you up!</span>
            <span *ngIf="!showLoading">Register</span>
        </button>
        <div style="margin-top: 15px;"><span>Already have an account? <a routerLink="/login" class="signup">Login now!</a></span></div>
        <div *ngIf="showError" class="alert alert-danger" role="alert" style="margin-top: 15px; margin-bottom: -20px;">
            Error: {{showError}}
        </div>
    </form>
    </div>
</div>