@import "../base/variables.scss";

.header-details {
    color: $white-color;

    & .reviews .star {
        color: $light-red-color;
        font-size: 25px;
    }

    & .reviews span {
        font-size: 25px;
    }

    & .reviews a {
        color: $light-red-color;
        transition: all .3s;
    }

    & .reviews a:hover {
        color: red;
    }
}

@media (max-width: 771px) {
    .header-details {
        flex-direction: column;
        text-align: center;

        & .reviews {
            justify-content: center;
            margin-bottom: 10px;
        }
    }
}

.movie-body {
    border-radius: 20px;

    & img {
        border-radius: 20px 0 0 20px ;
        box-shadow: -10px 0px 30px -9px #777;
    }

    & iframe {
        border-radius: 0 20px 20px 0;
        box-shadow: 10px 0px 30px -9px #777;
    }
}

@media (max-width: 991px) {
    .movie-body {
        & .movie-video  {
            width: 100% !important;
            height: 380px;
        }
       
        & .movie-cover {
            display: none;
        }
    }
}

@media (max-width: 550px) {
    .movie-body {
        & .movie-video  {
            height: 280px;
        }
    }
}

.desc {
    color: $white-color;
}

.category{
    & a {
        color: $white-color;
        border: 1px solid $white-color;
        padding: 7px 15px;
        border-radius: 25px;
        display: inline-block;
        transition: all .5s;

        &:hover {
            background-color: $light-red-color;
        }
    }
}

@media (max-width: 771px) {
    .desc {
        flex-direction: column;

        & p {
            width: 100% !important;
            margin-bottom: 12px;
        }
    }

    .link-details {
        width: 100% !important;
        margin-top: 10px;
    }

    .category-up {
        flex-direction: column;
        align-items: stretch !important;

        & .director {
            margin-bottom: 15px !important;
        }
    }
}

.director {
    color: $white-color;

    & a {
        color: $light-red-color;
    }
}


.heart {
    font-size: 30px!important;
    cursor: pointer;
}
.favSpinner {
    font-size: 20px!important;
    margin-top: 5px!important;
}
