@import "../../styles/base/variables.scss";
@import "../../styles/components/movie-card.scss";
@import "../../styles/components/actor-card.scss";

.all-movie {
    padding: 20px;
}
@media (max-width: 991px) {
    .booster {
        width: 100% !important;
    }

    .up-container {
        flex-direction: column;
    }

    .all-movie {
        padding: 20px 0;
        width: 100% !important;
    }

    .actors-up {
        width: 60%;
        margin: auto;
    }
}