@import "../../styles/base/variables.scss";
.all-movie {
    padding: 20px;
}
.movie-actor {
    min-height: calc(100vh - 115px);
}
.actor-card {
    border-radius: 25px 0;
    background-color: $white-color;
    border: 2px solid $light-red-color;
    transition: all .5s;
    position: relative;
    font-weight: bold;

    & img {
        height: 260px;
        border-radius: 25px 0 0 0;
    }
}
.actor-desc ul {
    line-height: 2;
}
@media (max-width: 570px) {
    .actors-up {
        width: 85%;
        margin: auto;
    }

    .actor-card {
        padding: 0 !important;
    }

    .actor-link {
        width: 100%;
    }

    .actor-desc {
        text-align: center;
        padding: 10px 0;
    }
}
.card {
    border-radius: 25px 0;
    background-color: $white-color;
    border: 2px solid $light-red-color;
    transition: all .5s;
    position: relative;

    & img {
        height: 350px;
        border-radius: 25px 0 0 0;
    }
}
.overlay {
    position: relative;
}
.overlay::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    background-color: #00000054;
    border-radius: 25px 0 0 0;
    transition: .3s;
}
.img-link {
    & .eye {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $light-red-color;
        font-size: 45px;
        opacity: 0;
        transition: all .5s;
    } 
    &:hover .eye {
        opacity: 1;
    }
}
.img-link:hover .overlay::before {
    width: 100%;
    height: 100%;
}
.movie-desc {
    & .rate p {
        margin: auto !important;
    }
    & h4 {
        & a {
            transition: all .3s;

            &:hover {
                color: $light-red-color !important;
            }
        }     
    }
    & .star-full {
        color: $light-red-color;
    }
}
.category {
    color: $darker-color;
    border: 1px solid $light-red-color;   
    padding: 3px 20px;
    border-radius: 35px;
    display: inline-block;
    transition: all .5s;

    &:hover {
        background-color: $light-red-color;
        color: $white-color;
    }
}
.time .clock {
    color: $light-red-color;
}
@media (max-width: 765px) {
    .card-up {
        width: 85%;
        margin: auto;
    }
}
@media (max-width: 570px) {
    .card-up .card {
        display: flex;
        flex-direction: inherit;
    }
    .card {
        padding: 0 !important;
    }
    .img-link,
    .movie-desc {
        width: 50%;
    }
    .movie-desc {
        padding-top: 70px;
    }
    .overlay {
        margin: 0 !important;
    }
    .category {
        margin-top: 15px;
    }
}
@media (max-width: 450px) {
    .movie-desc{
        & .rate, .time {
            font-size: 15px;
        }
        & h4 {
            font-size: 16px;
        }
        & .category a {
            display: block;
            margin: 0 auto !important ;
            width: fit-content;
            margin-bottom: 10px !important;
        }
    }
}
@media (max-width: 991px) {
    .booster {
        width: 100% !important;
    }

    .up-container {
        flex-direction: column;
    }

    .all-movie {
        padding: 20px 0;
        width: 100% !important;
    }

    .actors-up {
        width: 60%;
        margin: auto;
    }
}