@import "../../styles/base/variables.scss";
@import "../../styles/components/movie-card.scss";
@import "../../styles/components/search.scss";

.carousel {
    border-radius: 15px;

    & img {
        height: 400px !important;
        position: relative;
        border-radius: 15px;
    }

    &-control {
        top: 50%;
        transform: translateY(-50%);
        width: 5%;
        height: 12%;
        background-color: $light-red-color;
        opacity: 1;
        transition: all .15s ease;
        border-radius: 5px;

        &-next {
            margin-right: 10px;
        }

        &-prev {
            margin-left: 10px;
        }
    }
}
.carousel-small {
    width: 23%;
}
@media (max-width: 991px) {
    .carousel {
        display: none;
    }
}