app-footer {
    margin-top: auto;
}

.footer {
    color: $white-color;
    background-color: $darker-color;
    padding: 12px;
    & span {
        color: $light-red-color;
    }
}

@media (max-width: 600px) {
    .footer span {
        display: block;
    }
}