.navbar {
    background-color: #181818;

    & ul a {
        color: #ffffffdf !important;
    }
}

a.navbar-brand {
    color: darkorange !important;
}

.navbar-nav {
    & li a:hover {
        color: #ff8c00 !important;
        transition: all .5s;
    } 
}

.navbar-toggler {
    background-color: darkorange;

    &:focus {
        box-shadow: none;
    }
}

@media (max-width: 991px) {
    .form-up {
        margin: 15px 0 ;
    }
    .navbar-nav {
        padding-left: 9px;
        gap: .5rem !important;
    }
}