nav {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: aquamarine;
}
.nav-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2px;
}
.nav-links {
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.nav-links li {
    display: inline;
    float: left;
    margin-left: 15px;
    
}
.nav-links li a {
    text-decoration: none;
    color: black;
    padding: 12px;
    border-radius: 10px;
}
.nav-links li a:hover {
    background-color: black;
    color: cyan;
}