<div class="container">
    <div class="search">
        <input type="text" [(ngModel)]="filteredActor">
    </div>
    <div class="products-page">
        <div *ngFor="let item of actors | filter: filteredActor " class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="item.img" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <p class="card-text">Price: ${{item.text}}</p>
            </div>
            <div class="card-body card-buttons">
                <a 
                appStyleDirective
                [routerLink]="['/actors', item.id]"
                class="btn btn-primary">
                View
                </a>
                <a appStyleDirective href="#" class="btn btn-primary">Add to cart</a>
            </div>
        </div>
    </div>
</div>
    