<div class="container">
    <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="postData(loginForm)" autocomplete="off" >
        <h3>Sign in now!</h3>
       
        <label for="email">Email</label>
        <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Enter your email">
       
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Enter your password">
 
        <button>Login</button>
    </form>
    </div>
</div>