<div class="container">
    <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="postData(loginForm)" autocomplete="off" >
        <h3>Login</h3>
       
        <label for="email">Email</label>
        <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Enter your email">
        <span class="error" *ngIf="fc['email'].getError('required') && email!.touched">Email is required.</span>
        <span class="error" *ngIf="fc['email'].getError('pattern')!=null">Please enter a valid email.</span>

        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Enter your password">
        <span class="error" *ngIf="fc['password'].getError('required') && password!.touched">Password is required.</span>
        <span class="error" *ngIf="fc['password'].getError('minlength')!=null">Password must be at least 8 characters long.</span>

        <button [disabled]="loginForm.invalid">Login</button>
        <span>Don't have an account? <a routerLink="sign-up">Sign up now!</a></span>
    </form>
    </div>
</div>