* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
app-root { 
    display: flex; 
    flex-direction: column;
    height: 100vh;
} 
app-sign-up, app-login {
    height: 100vh;
    padding-top: 30px;
    background-image: url('https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.png');
    background-repeat: no-repeat;
    background-size:cover;
}
body {
  background-color: $dark-color;
}
a {
    text-decoration: none !important;
}
.container {
    margin: auto;
}
ul {
    list-style: none !important;
}
hr {
    margin: 0 !important;
}
.loading {
    min-height: calc(100vh - 658px);
    color: $light-red-color;
}
@media (max-width: 991px) {
    .loading {
        min-height: calc(100vh - 260px);
    }
}
.spinner {
    font-size: 40px;
    animation: spinner 2s infinite linear;
}
@keyframes spinner {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
.alert {
    width: 300px;
    position: absolute;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    background-color: darkred;
    color: #FFF;
    border: none;
    margin: 0;
    border: 2px solid #FFF;
    border-radius: 15px;
}
.btn-close {
    color: #fff;
    background: none;
    padding: 0 !important;
    top: 50% !important;
    transform: translateY(-50%);
    right: 10px !important;
    opacity: 1;
    font-size: 20px;
    cursor: pointer;
    margin-top: -5.5px;
}
.btn-close:hover {
    color: #FFF;
    opacity: 1;
}