* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App { 
    display: flex; 
    flex-direction: column;
    height: 100vh;
} 
a {
    text-decoration: none !important;
}
.container {
    margin-top: 75px;
}
ul {
    list-style: none !important;
}
hr {
    margin: 0 !important;
}
